#body{
  background: url("tube-map.png")
  background-size: cover;
  height:50px;
  width:50px;
  margin:-25px auto 0 -25px;
  background:grey;
  top:50%;
  left:50%;
}

header{
   text-align: center;
   background: url("Londonsky.jpg");
   background-size: cover;
   color: white;
   margin: 40px 0px 0px 0px;
}
a {
  color: white;
}
h1 {
  font-size: 70px;
}
img {
  margin: 40px 0px 0px 0px;
  border: 7px solid white;
  border-radius: 20px;
}
ul {
   padding: 10px;
   background: black;
}
li {
   display: inline;
   padding: 0px 10px 0px 10px;
}
